<form method="post">
    <div class="mb-3">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" id="inputName" name="name" placeholder="Sample : Cauchois" required class="form-control {{ violations.name is not defined ? '' : 'is-invalid' }}" value="{{ student.name }}">
        {% for violation in violations.name %}
            <div class="invalid-feedback">{{ violation }}</div>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label for="inputFirstname" class="form-label">Firstname</label>
        <input type="text" id="inputFirstname" name="firstname" placeholder="Sample : Nicolas" required class="form-control {{ violations.firstname is not defined ? '' : 'is-invalid' }}" value="{{ student.firstname }}">
        {% for violation in violations.firstname %}
            <div class="invalid-feedback">{{ violation }}</div>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label for="inputOld" class="form-label">Old</label>
        <input type="number" id="inputOld" name="old" placeholder="Sample : 25" required class="form-control {{ violations.old is not defined ? '' : 'is-invalid' }}" value="{{ student.old }}">
        {% for violation in violations.old %}
            <div class="invalid-feedback">{{ violation }}</div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>