{% extends 'base.html.twig' %}

{% block title %}Index Book{% endblock %}

{% block body %}
    <h1>Index Book</h1>

    <h2>NB Book - {{ books|length }}</h2>

    <a href="/student/new">New Book</a>

    <div>
        {% for book in books %}
            {% if loop.first %}
                <ul>
            {% endif %}
            <li>
                <a href="/student/{{ book.id }}">{{ book.id }} - {{ book.title }}</a>
                <a href="/student/{{ book.id }}/edit">Edit</a>
                <a href="/student/{{ book.id }}/delete">Delete</a>
            </li>
            {% if loop.last %}
                </ul>
            {% endif %}
        {% else %}
            <b>There are no books</b>
        {% endfor %}
    </div>
{% endblock %}