{% extends 'base.html.twig' %}

{% block title %}Show Student - {{ book.id }}{% endblock %}

{% block body %}
    <h1>Show Book - {{ book.id }}</h1>

    <p>Title : <var>{{ book.title }}</var></p>
    <p>Description : <var>{{ book.description }}</var></p>
    <p>Price : <var>{{ book.price }}</var></p>
    <p>format : <var>{{ book.format }}</var></p>
    <p>Image: {{ book.images|length }}</p>
    {% for image in book.images %}
        {% if loop.first %}
            <ul>
        {% endif %}
        <li>
            <img src={{ image.link }}>
        </li>
        {% if loop.last %}
            </ul>
        {% endif %}
    {% else %}
        <b>There are no images</b>
    {% endfor %}
    <p>Review: {{ book.reviews|length }}</p>
    {% for review in book.reviews %}
        {% if loop.first %}
            <ul>
        {% endif %}
        <li>
            <h1>{{ review.user.name}} {{ review.user.firstname }} - {{ review.star }}</h1>
            <p>{{ review.text }}</p>
        </li>
        {% if loop.last %}
            </ul>
        {% endif %}
    {% else %}
        <b>There are no reviews</b>
    {% endfor %}
{% endblock %}