{% extends 'base.html.twig' %}

{% block title %}Show Student - {{ book.id }}{% endblock %}

{% block body %}
    <h1>Show Book - {{ book.id }}</h1>

    <p>Title : <var>{{ book.title }}</var></p>
    <p>Description : <var>{{ book.description }}</var></p>
    <p>Price : <var>{{ book.price }}</var></p>
{% endblock %}