{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block javascripts %}

{% endblock %}

{% block content %}
    {#======= Advertiser Section =======#}
    <section id="ads" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                    <h1>Shop From Independent Sellers</h1>
                    <h2>Discover the extraordinary and captivating of this world from our books</h2>
                    <div class="d-flex justify-content-center justify-content-lg-start">
                        <a href="#about" class="btn-get-started scrollto">Get Started</a>
                        <a href="https://youtu.be/MwSRHBRcwmM?t=172" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 ads-img" data-aos="zoom-in" data-aos-delay="200">
                    <img src="asset/img/knowledge-amico.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>
    </section><!-- End Advertiser -->

    <main id="main">
        {#============= Publishers Section =============#}
        <section id="publishers" class="publishers section-bg">
            <div class="container">
                <div class="row" data-aos="zoom-in">
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="asset/img/publishers/simon_schuster.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="asset/img/publishers/harper-collins.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="asset/img/publishers/macmillan.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="asset/img/publishers/hachette.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="asset/img/publishers/wiley.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                        <img src="asset/img/publishers/scholastic.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section><!-- End Publishers Section -->

        {#============= About Us Section =============#}
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            Welcome to TiKi, where the magic of storytelling meets the joy of discovery. Founded with a passion for literature,
                            we're on a mission:
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> To connect readers with captivating tales that inspire, enlighten, and transport</li>
                            <li><i class="ri-check-double-line"></i> To celebrate the diversity of narratives</li>
                            <li><i class="ri-check-double-line"></i> To invite you to embark on literary journeys</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            Explore TiKi and embark on a voyage through the pages of extraordinary stories that enrich lives and kindle
                            the love for books. These stir imagination and deepen understanding by inviting you to explore the realm of
                            posibilities and divers perspectives.
                        </p>
                        <a href="#" class="btn-learn-more">Learn More</a>
                    </div>
                </div>
            </div>
        </section><!-- End About Us Section -->

        {#============= Why Us Section =============#}
        <section id="why-us" class="why-us section-bg">
            <div class="container-fluid" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1">
                        <div class="content">
                            <h3>Why you should <strong>choose TiKi for your future book purchases</strong></h3>
                            <p>
                                Well, there are many different bookstores competing with us in the market, but there are 3 main compelling reasons for you to choose us among the many choices on the market:
                            </p>
                        </div>

                        <div class="accordion-list">
                            <ul>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Curated Collection - handpick each book to ensure a diverse and enriching collection <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p>
                                            Our selection encompasses a wide array of genres, themes, and authors, guaranteeing a captivating read for every reader. You'll discover hidden gems, bestsellers, and timeless classics, curated with care to cater to diverse tastes and preferences.
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Impeccable Quality - quality matters, especially when it comes to books <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            We prioritize providing our customers with top-notch editions, ensuring that every book is in excellent condition. From the paper quality to the printing, we pay attention to the details to offer an unparalleled reading experience that surpasses expectations.
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Community and Support - TiKi is a community hub for book lovers <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            Beyond being a bookstore, TiKi is a community hub for book lovers. We're committed to fostering a space where readers can engage, share, and explore their love for literature. Our knowledgeable team is here to offer recommendations, facilitate discussions, and provide support, creating an immersive and fulfilling experience beyond the transactional aspect of buying books.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
                </div>
            </div>
        </section><!-- End Why Us Section -->

        {#============= Populars Section =============#}
        <section id="populars" class="populars">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                        <img src="asset/img/populars.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                        <h3>Reading trends for 2023 are powered by our customer data</h3>
                        <p class="fst-italic">
                            Based on analysis of our database this year, we have found the most prominent trends in book genres that readers
                            choose to buy.
                        </p>

                        <div class="populars-content">
                            <div class="progress">
                                <span class="popular">WELLNESS AND SELF-CARE <i class="val">77%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="popular">DIVERSE VOICES & INCLUSIVITY <i class="val">69%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="69" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="popular">CLIMATE CHANGE & SUSTAINABILITY <i class="val">45%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                            <div class="progress">
                                <span class="popular">SCIENCE COMMUNICATION & POPULAR SCIENCE <i class="val">33%</i></span>
                                <div class="progress-bar-wrap">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Populars Section -->

        {#============= Services Section =============#}
        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Services</h2>
                    <p>TiKi is your one-stop destination for all things books, elevating your reading experience.  Our comprehensive services ensure easy access to a curated collection, effortless transactions, efficient deliveries, and dedicated customer support.</p>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-bag"></i></div>
                            <h4><a href="">Easy Returns</a></h4>
                            <p>10 days returns with the full amount you paid for the order</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-receipt"></i></div>
                            <h4><a href="">Book Sale</a></h4>
                            <p>Seamlessly sell your pre-loved books through our platform</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-truck"></i></div>
                            <h4><a href="">Free Shipping</a></h4>
                            <p>Ensuring your chosen books reach your doorstep with care and promptness</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-patch-question"></i></div>
                            <h4><a href="">24/7 Support</a></h4>
                            <p>Access dedicated and knowledgeable support, receiving recommendations, assistance, and guidance</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Services Section -->

        {#============= CTA Section =============#}
        <section id="cta" class="cta">
            <div class="container" data-aos="zoom-in">
                <div class="row">
                    <div class="col-lg-9 text-center text-lg-start">
                        <h3>Call To Action</h3>
                        <p> Publishers, showcase your books to a wide audience at TiKi. Benefit from our tailored marketing and seamless integration. Join us to expand your readership and be part of a vibrant community celebrating storytelling.</p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="#">Call To Action</a>
                    </div>
                </div>
            </div>
        </section><!-- End Cta Section -->

        {#============= Latest Products Section =============#}
        <section id="latest-products" class="latest-products">
            <div class="container" data-aos="fade-up">
                <div class="products">
                    <div class="section-title">
                        <h2>Latest products</h2>
                        <p>Our latest collection boasts a diverse range of compelling reads, from immersive fantasy epics to thought-provoking contemporary narratives, ensuring something captivating for every reader.</p>
                    </div>
                    <div class="box-container">
                        {% for i in 0..7 %}
                            <form action="" method="post" class="box" data-aos="zoom-in" data-aos-delay="200">
                                <img class="image" src="{{ books[i].images[0].link }}" data-link="{{ books[i].images[0].link|raw }}" alt="">
                                <div class="name">{{ books[i].title }}</div>
                                <div class="price">${{ books[i].price }}/-</div>
                                <input type="number" min="1" name="productt_quantity" value="1" class="qty">
                                <input type="submit" value="Add to cart" name="add_to_cart" class="btn">
                            </form>
                        {% endfor %}
                    </div>
                </div>
                <a href="#" class="btn-learn-more">Learn More</a>
            </div>
        </section><!-- End Latest Products Section -->

        {#============= Authors Section =============#}
        <section id="author" class="author section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Famous Authors</h2>
                    <p>Dive into works by acclaimed authors, whose stories resonate deeply with their masterful storytelling and insightful exploration of the human experience.</p>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                            <div class="pic"><img src="/asset/img/authors/author1.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Haruki Murakami</h4>
                                <span>Contemporary Fiction</span>
                                <p>His works often explore themes of isolation, human connection, and the complexities of modern life</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                            <div class="pic"><img src="/asset/img/authors/author2.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>J.K. Rowling</h4>
                                <span>Literature</span>
                                <p>Her imaginative storytelling and intricate plots continue to resonate globally</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
                            <div class="pic"><img src="/asset/img/authors/author3.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Brandon Sanderson</h4>
                                <span>Literature</span>
                                <p>His epic series have garnered immense praise for their richly detailed settings and complex characters</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                            <div class="pic"><img src="/asset/img/authors/author4.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Chimamanda Ngozi Adichie</h4>
                                <span>Science Fiction</span>
                                <p>Her works offer poignant insights into social issues while crafting compelling, deeply human stories</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Team Section -->

        {#============= Pricing of New Arrivals Section =============#}
        <section id="pricing" class="pricing">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>New Arrivals</h2>
                    <p>Discover our latest arrivals—a curated selection of gripping mysteries, heartwarming tales, and thought-provoking narratives that promise to captivate every reader's imagination.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="box">
                            <h3>{{ books[0].title }}</h3>
                            <h4><sup>$</sup>{{ books[0].price }}<span>per one</span></h4>
                            <div class="image">
                                <img src="{{ books[0].images[0].link }}" data-link="{{ books[0].images[0].link|raw }}" alt="">
                            </div>
                            <a href="#" class="buy-btn">Discover It</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                        <div class="box featured">
                            <h3>{{ books[2].title }}</h3>
                            <h4><sup>$</sup>{{ books[2].price }}<span>per one</span></h4>
                            <div class="image">
                                <img src="{{ books[2].images[0].link }}" data-link="{{ books[2].images[0].link|raw }}" alt="">
                            </div>
                            <a href="#" class="buy-btn">Discover It</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                        <div class="box">
                            <h3>{{ books[3].title }}</h3>
                            <h4><sup>$</sup>{{ books[3].price }}<span>per one</span></h4>
                            <div class="image">
                                <img src="{{ books[3].images[0].link }}" data-link="{{ books[3].images[0].link|raw }}" alt="">
                            </div>
                            <a href="#" class="buy-btn">Discover It</a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Pricing Section -->

        {#============= FAQ Section =============#}
        <section id="faq" class="faq section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Frequently Asked Questions</h2>
                    <p>Find quick answers to common inquiries about orders, shipping, returns, and more. Browse through our FAQs below for swift assistance.</p>
                </div>

                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">How can I track my order? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                                <p>
                                    Tracking information is provided via email once your order is dispatched. You can also log in to your account to track the status of your shipment.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">What is your return policy? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    We accept returns within 30 days of delivery for eligible items. Please refer to our Returns & Refunds page for detailed instructions.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Are international deliveries available? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Yes, we offer international shipping. Shipping costs and delivery times may vary based on the destination.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">How can I contact customer support? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Our customer support team is available via email at [info@tiki.fr] or through our Contact Us page. We aim to respond to inquiries within 24-48 hours.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Do you offer gift wrapping services? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Yes, we provide gift wrapping options at checkout for a delightful touch to your order.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section><!-- End Frequently Asked Questions Section -->

        {#============= Contact Section =============#}
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Contact us if you would like more information about the services offered by TiKi. We will respond to you as quickly as possible within 24 hours and contact you directly by email or telephone number provided.</p>
                </div>

                <div class="row">
                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>INSA Hauts-de-France, Aulnoy-Lez-Valenciennes, 59300 France</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@tiki.fr</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>(+33)7 69 77 22 99</p>
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2547.2358464872536!2d3.51252871597462!3d50.32485100428779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2ed11bfed235f%3A0x55341a772648d80a!2sInstitut%20National%20des%20Sciences%20Appliqu%C3%A9es%20Hauts-de-France!5e0!3m2!1svi!2sfr!4v1678052061374!5m2!1svi!2sfr" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="/contact-to-email" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" rows="10" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section><!-- End Contact Section -->
    </main>
{% endblock %}